#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        win_mod: windows_maximize_minimize {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LG(UP)>, <&kp LG(DOWN)>;
            mods = <(MOD_LSHIFT|MOD_RSHIFT)>;
        };

        open_notepad: open_notepad_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&kp LG(R)>
                , <&zmk,delay_ms 100>
                , <&kp N &kp O &kp T &kp E &kp P &kp A &kp D>
                , <&kp ENTER>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // LAYER 0: BASE WORKSPACE (Media & Everyday Tools)
        base_layer {
            label = "Base";
            bindings = <
                &kp C_PP         &kp C_NEXT   &win_mod      &none
                &open_notepad    &kp CALC     &kp LS(LC(C)) &none
                &kp LC(X)        &kp LC(C)    &kp LC(V)     &none
            >;
        };
    };
};
