#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    // 📍 DIRECT-WIRE MATRIX (Ultra-stable compilation configuration)
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        row-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 0 (Top keys)
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 1 (Middle keys)
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 2 (Bottom keys)
            ;

        col-gpios
            = <&xiao_d 3 GPIO_ACTIVE_HIGH> // Column 0 (Left vertical)
            , <&xiao_d 4 GPIO_ACTIVE_HIGH> // Column 1 (Middle vertical)
            , <&xiao_d 5 GPIO_ACTIVE_HIGH> // Column 2 (Right vertical)
            , <&xiao_d 6 GPIO_ACTIVE_HIGH> // Column 3 (Encoder Switch Pin)
            ;
    };

    behaviors {
        win_mod: windows_maximize_minimize {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LG(UP)>, <&kp LG(DOWN)>;
            mods = <(MOD_LSHIFT|MOD_RSHIFT)>;
        };

        open_notepad: open_notepad_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&kp LG(R)>
                , <&zmk,delay_ms 100>
                , <&kp N &kp O &kp T &kp E &kp P &kp A &kp D>
                , <&kp ENTER>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // LAYER 0: BASE WORKSPACE (Media & Everyday Tools)
        base_layer {
            label = "Base";
            bindings = <
                &kp C_PP         &kp C_NEXT   &win_mod      &none
                &open_notepad    &kp CALC     &kp LS(LC(C))
                &kp LC(X)        &kp LC(C)    &kp LC(V)
            >;
        };
    };
};
